.wrapper{
    gap: 2rem;
}

main{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 13px;

    position: relative;
}


section{
    background-color: var(--bg);
    margin: 2rem 0 1rem 0;
    padding: 1.5rem;
    border-radius: 1rem;
    
    display:flex;   
    flex-direction: column;
    align-items: flex-start;
    box-shadow: var(--shadow-s);
}

.project-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: .75rem;
}

.img-project{
    border: 3px solid var(--primary);
    max-width:75%;
    max-height: 500px;
    width: auto;
    height: auto;
    margin-top: 1rem;
    cursor: pointer;
}

.project-btn{
    background-color: var(--bg-light);
    width: 30px;
    height: 30px;
}

.project-btn:hover{
    background-color: var(--highlight);
}



.sidebar{
    align-self: stretch;
}

.sidebar-container{
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 2rem;
    align-self: flex-start;
    height: 30rem;
}

.sidebar-nav{
    display: flex;
    
    width: 10vw;
    min-width: 18ch;
    max-width: 10rem;
    height:20rem;
}

.sidebar-container.sidebar-collapsed {
  width: 2rem;
  transition: all .2s ease-in-out;
}

.sidebar-container.sidebar-collapsed .sidebar-nav {
  pointer-events: none;
  z-index: -5;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.sidebar-container.sidebar-collapsed .sidebar-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.sidebar .feather{
    width: 2rem;
    height: 2rem;
    stroke-width: 1.5;
}

.links-lines-x {
    flex-direction: column;
    margin-bottom: 0;
}
.links-lines-x a {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 1rem;
    height:1.5rem;
    margin-bottom: 1rem;
}
.links-lines-x a:hover {
    position: relative;
    transform: translateX(0.5rem);
    color: var(--primary);
}
.links-lines-x a::after {
    content: "";
    position: absolute;
    width: .5rem;
    height: 2px;
    top: 50%;
    left: 0;
    background: var(--text);
    transition: var(--transition);
}

.links-lines-x a:hover::after {
    width: 1rem;
    left: -0.5rem;
    background: var(--primary);
    transition: var(--transition);
}

a p{
    color: inherit;
    font: var(--small);
}

.sidebar-icon-mobile-container .feather{
    width: 40px;
    height: 40px;
}

.sidebar-icon-mobile-container{
    position: absolute;
    right: 10px;
    top: 10px;
    min-height: 100%;
}

.sidebar-icon-mobile{
    position: sticky;
    right: 10px;
    top: 40px;
    display: none;
    padding: 6px;
    border-radius: 18px;
    background-color: var(--bg-light);
}



@media (max-width: 870px) {
    .sidebar-container{
        display: none;
    }

    .sidebar-icon-mobile{
        display: block;
    }
}
